#container.menu {
    display: inline-block;
}

li {
    list-style: none;
    display: flex;
    height: 10vh;
    width: 10vh;
    padding: 60px;

    justify-content: center;
    align-self: center;
    background-color: rgba(91, 155, 192, 0.9);
    margin-bottom: 20px;
    border-radius: 30px;

}

#itemCont {
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-rows: 1fr;

    padding: 10px;
}

#pair {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#drinkItem {
    width: auto;
    height: 100%;
}


h1 {
    color: white;
    padding: 20px;
}
#drinkCont {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    border: 10px grey;
}

#price {
    margin-top: 10px;
}