@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Quicksand:wght@400;500;600&display=swap");
@import url("https://fonts.cdnfonts.com/css/public-pixel");

* {
    padding: 0;
    margin: 0;
    font-family: "Public Pixel", sans-serif;
}

#content {
    height: 100vh;
    width: 100vw;
    display: grid;

    grid-template-rows: 10vh 10fr 10vh;
}

#container {
    height: 100%;
    width: 100%;
    background-image: url("../images/cafeBackground.jpg");
    background-color: rgb(68, 42, 42);
}

header {
    background-color: #116294;
    display: flex;
    justify-content: center;
    width: 100%;
}

nav {
    display: flex;
    border-bottom: solid #ffd700;
}

#footer {
    height: 100%;
    background-color: #00416a;
}

button {
    border: none;
    padding: 15px 32px;
    font-size: 30px;
    cursor: pointer;
    background: none;
    color: white;
}


/** footer **/

#footer {
    border-top: solid #ffd700;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#github {
    height: 2em;
    padding: 1.5em;
}


/** pikachu corner **/

#pikachuDiv {
    display:flex;
    
}

#pikachu {


    position: absolute;
    right: 10px;
    bottom: 10px;

    height: 20vh;



  
}   
